ion-content {
    --background: linear-gradient(to bottom, #FFCC33, #FFBF00);
    // --background: #CC9900;

    ion-list {
        ion-item {
            --background: #00000000;
        }
    }
}

.list-md {
    background-color: #00000000 !important;
}

.insert-item {
    --padding-start: 40%;
    --inner-padding-end: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
        width: 20%;
        height: 38px;
        padding: 0;
        --background: #CC9900;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon {
            font-size: 1.5rem;
            color: #ffefd4;
        }
    }
}


ion-item app-pipeline-card {
    width: 100%;
}