<ion-card>
  <ion-card-header>
    <div style="display:flex; align-items:center; gap:.6rem;">
      <ion-icon [name]="getIcon()" size="large"></ion-icon>
      <div>
        <ion-card-title>{{ bloco.nome }}</ion-card-title>
        <ion-card-subtitle>
          {{ bloco.tipo | titlecase }}
          <ng-container *ngIf="bloco.processo">
            • {{ bloco.processo | titlecase }}
          </ng-container>
        </ion-card-subtitle>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content *ngIf="bloco.tipo !== 'input'">
    <ion-button
      *ngIf="bloco.tipo === 'processamento'"
      fill="clear"
      color="warning"
      size="small"
      (click)="onEdit()">
      <ion-icon slot="start" name="create-outline"></ion-icon> Editar
    </ion-button>

    <ion-button
      fill="clear"
      color="danger"
      size="small"
      (click)="onRemove()">
      <ion-icon slot="start" name="trash-outline"></ion-icon> Remover
    </ion-button>
  </ion-card-content>
</ion-card>
